<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yu.hang.core.dao.RoleDao">
   <resultMap type="Role" id="RoleMap">
		  <id property ="id" column="id" />
		  <id property ="name" column="name" />
		  <id property ="remark" column="remark" />
		  <id property ="createId" column="create_id" />
		  <id property ="updateTime" column="update_time" />
		  <id property ="createTime" column="create_time" />
	</resultMap>

	<sql id="sqlRole">
    	id,name,remark,create_id,update_time,create_time
	</sql>
	
	<sql id="whereRole">
        <where>
        <if test="name!=null">
           and name=#{name}
         </if>
         <if test="createId!=null">
           and create_id=#{createId}
         </if>
        	<if test="startTime!=null">
	        	<![CDATA[
	        		and create_time>=#{startTime}
	        	]]>
	        </if>
	        <if test="endTime!=null">
	        	<![CDATA[
	        		and create_time<=#{endTime}
	        	]]>
	        </if>
        </where>
    </sql>
    
    <insert id="save" keyProperty="id"	useGeneratedKeys="true">
		insert into role(name,remark,create_id,update_time,create_time) values
		 (#{name},#{remark},#{createId},#{updateTime},#{createTime})
	</insert>
    
    <insert id="saveBatch" parameterType="java.util.List">
		insert into role(name,remark,create_id,update_time,create_time) values
		<foreach collection="list" item="item" separator=",">
			(#{item.name},#{item.remark},#{item.createId},#{item.updateTime},#{item.createTime})
		</foreach>
	</insert>
	
	<select id="queryById" resultMap="RoleMap">
     select   <include refid="sqlRole"/> FROM role  where id=#{id}
    </select>

    <select id="queryByParmas" parameterType="map" resultMap="RoleMap">
      select  <include refid="sqlRole"/> FROM role <include refid="whereRole"/>
        <if test="start!=null and size!=null">
	        limit #{start},#{size}
        </if>
    </select>
    
    <select id="countByParmas"  parameterType="map" resultType="int">
      select  count(1) FROM role <include refid="whereRole"/>
    </select>
    
   <update id="update">
        UPDATE role set 
        name=#{name},remark=#{remark},create_id=#{createId},update_time=#{updateTime},create_time=#{createTime}
        WHERE id = #{id}
    </update>    
</mapper>